@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-md-5 loginPartial" style="background-color:#ffffff">
        @Html.Partial("_partialRegister")
    </div>
    <div class="col-md-2">
        <!-------null------>
    </div>
    <div class="col-md-5 loginPartial" style="background-color:#ffffff">
        @Html.Partial("_partialLogin")
    </div>
</div>
